@model List<Models.TaskViewModel>


<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Created On</th>
            <th style="width:120px;">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.TaskTitle</td>
                    <td>@item.TaskDescription</td>
                    <td>@item.TaskDueDate.ToString("dd-MMM-yyyy")</td>
                    <td>
                        <span class="badge
                           @(item.TaskStatus == "Pending" ? "bg-danger" :
                             item.TaskStatus == "In Progress" ? "bg-info" :
                             item.TaskStatus == "Completed" ? "bg-success" :
                             "bg-secondary")">
                            @item.TaskStatus
                        </span>
                    </td>
                    <td>@item.TaskRemarks</td>
                    <td>@item.CreatedOn.ToString("dd-MMM-yyyy")</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary"
                                onclick='editTask(@Html.Raw(Json.Encode(item)))'>
                            Edit
                        </button>

                        <button class="btn btn-sm btn-danger ms-1"
                                onclick="deleteTask(@item.TaskId)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center text-danger">
                    No records found
                </td>
            </tr>
        }
    </tbody>
</table>
